h1{        <!-- element seector -->
    font-size: 50px;
}

.first{      <!-- class selector -->
    text-decoration: underline;
}

#second{  <!-- id selector -->
    font-style:italic ;
}

div{
    background-color: green;
    color: red;
}