@import "https://use.fontawesome.com/releases/v5.6.3/css/all.css";

html {
    font: 16px/1.5 'Lucidia Sans' ;
}

body,button,input {
    font: inherit;
}

.button {
    cursor: pointer;
    outline: none;
    display: inline-block;
    border: 2px solid rgb(51, 51, 51);
    padding: 0.5cm 0.9cm;
    margin: 0;
    border-radius: 2cm;

    background: rgb(251, 251, 251);
    color: #000;

}


.button.fill {
    background:  rgb(51, 51, 51);
    color: rgb(251, 251, 251);

}
.button:hover {
    background: rgb(0, 102, 0);
    color: rgb(251, 251, 251);
}

